<!DOCTYPE html>
<html>
<head>
    <title>Add Hotel</title>
</head>
<body>

<h2>Add Hotel</h2>

<form method="POST">

    <input type="text" name="name" placeholder="Hotel Name" required>
    <br><br>

    <input type="text" name="location" placeholder="Location" required>
    <br><br>

    <input type="number" name="rating" placeholder="Rating" required>
    <br><br>

    <input type="number" name="price" placeholder="Price" required>
    <br><br>

    <input type="number" name="rooms" placeholder="Rooms Available" required>
    <br><br>

    <button type="submit">Add Hotel</button>

</form>

</body>
</html>